@import '../../../styles/variables';

.policy-coverage-item {
    padding: 2rem 0;
    border-bottom: 1px solid $Gray_5;

    &__title {
        font-size: 1.2rem;
    }

    &__btn {
        font-size: 0.8rem;
        font-weight: 700;

        &--down {
            color: $Acian_2_Hover;
        }

        &--up {
            color: $Gray_3;
        }

        .icon {
            font-size: 1rem;
        }
    }

    &__input {
        width: 3em !important;
        height: 2em;
    }

    .full-width {
        width: 100%;
    }
}