/* fonts */
$font_title: 'Lato', sans-serif;
$font_text: 'Roboto', sans-serif;

/* colors */
$Acian_1 : #939DFF;
$Acian_2 : #6769FF;
$Acian_2_Hover : #6F7DFF;

$Green_2 : #43B748;

$Gray_1_Titles:  #494F66;
$Gray_2_Paragraph: #676F8F;
$Gray_3 : #A3ABCC;
$Gray_4: #C5CBE0;
$Gray_5: #E4E8F7;
$Gray_6: #F0F2FA;
$Gray_7: #F7F8FC;

$Red_1_Rimac: #EF3340;
$Red_3: #FC606B;

$white : #FFFFFF; 

/* custum Bootstrap */

$input-border-color: $Gray_4;
$form-select-indicator-color:  $Red_1_Rimac;
$form-check-input-checked-bg-color: $Green_2;
$form-check-input-checked-border-color: $Green_2;
$progress-bg: $Gray_5;
$progress-bar-bg: $Acian_2;
$progress-height: 0.5rem;
$nav-link-color: $Gray_3;
$nav-link-transition: $Gray_4 .15s ease-in-out, $white .15s ease-in-out, border-color .15s ease-in-out;
$nav-link-hover-color: none;
$nav-tabs-link-active-color: $Red_1_Rimac;
$nav-tabs-link-active-bg: transparent;
$btn-focus-box-shadow: none;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-focus-border-color: none;
$form-select-focus-border-color: none;
$form-select-focus-box-shadow: none;