@import '../../../styles/variables';

.header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid $Gray_5;
  background-color: $white;

  &--transparent {
    position: absolute;
    border-bottom: none;
    background-color: transparent;
  }

  &--height {
    min-height: 56 / 810 * 100vh;
  }

  .call-message {
    &--color {
      color: $Acian_2;
    }
  }

  @media (min-width: 992px) {
    position: fixed;
    top: 0;
  }
}
