@import '../../../styles/variables';

.policy-coverages {
    &__section {
        padding-top: 3rem;
        padding-bottom: 3rem;

        &--background {
            background-color: $Gray_7;
        }

        @media (min-width: 992px) {
            padding: 2rem;

            &--background {
                background-color: transparent;
            }

            &-boxprice--position {
                position: relative;
                z-index: 0;
            }
        }
    }
}