@import './styles/_variables.scss';

@import '~bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* General styles */

body {
  font-family: $font_text;
  color: $Gray_2_Paragraph;
  line-height: 24px;
}

.container--padding {
  padding: 0 2rem;
}

.title {
  line-height: 36px;
  /* or 129% */
  letter-spacing: -0.6px;

  &--color {
    color: $Gray_1_Titles;
  }

  &--font {
  font-family: $font_title;
  }

  &__text--highlighted {
    color: $Red_1_Rimac;
  }
}

.paragraph--color {
  color: $Gray_2_Paragraph;
}

.view--padding-vertical {
  padding: 3.5rem 0;
}

.container--height {
  height: 100vh;
}

.cursor--pointer {
  cursor: pointer;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container--padding {
    padding: 0 7.5rem;
  }
}

@media (min-width: 992px) {
  .container--full-height {
    height: 100vh;
  }

  .title {
    line-height: 48px;
    letter-spacing: -0.2px;
    &__text-desktop--highlighted {
      color: $Red_1_Rimac;
    }
  }
}